@font-face {
	font-family: 'SUITE';
	font-weight: 300;
	src: local('SUITE Light'), url('./woff2/SUITE-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 400;
	src: local('SUITE Regular'), url('./woff2/SUITE-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 500;
	src: local('SUITE Medium'), url('./woff2/SUITE-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 600;
	src: local('SUITE SemiBold'), url('./woff2/SUITE-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 700;
	src: local('SUITE Bold'), url('./woff2/SUITE-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 800;
	src: local('SUITE ExtraBold'), url('./woff2/SUITE-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 900;
	src: local('SUITE Heavy'), url('./woff2/SUITE-Heavy.woff2') format('woff2');
}